.profile {
    grid-area: profile;

}

.profile_banner_avatar {
    display: grid;
    grid-template-areas:
"profile-banner . profile-banner"
". profile-avatar ."
". . profile_name"
". . profile_description";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);



}

.profile_banner {
    grid-area: profile-banner;
    width: 100%;
    z-index: 1;
    border-radius: 30px;
}


.profile_avatar {
    grid-area: profile-avatar;
    width: 19%;
    height: 38%;
    z-index: 2;
    margin-top: 30%;
    margin-left: 5%;

}

.profile_avatar_shadow {

    box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.2);
    border-radius: 50%;
    height: 100%;


}
.profile_avatar_shadow img{
    height: 100%;
}

.profile_avatar img {
    width: 100%;
    border-radius: 50%;

}
.profile_name_description {
    margin-top: -10%;
}
.profile_name {
    grid-area: profile_name;
    z-index: 3;
    font-size: 14px;
    font-size-adjust: 1;
    color: darkgreen;
    margin-left: 27%;
}

.profile_description {
    grid-area: profile_description;
    z-index: 3;
    margin-left: 27%;
    font-size: 12px;
    font-size-adjust: 1;
    color: palegreen;
}