.post_wrapper {

}

.profile_content {
    /*display: grid;*/
    /*grid-template-columns: 3fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 2fr;*/
    /*gap: 1% 2%;*/
    /*grid-template-areas:*/
    /*        "post-input post-input"*/
    /*        ". post-button"*/
    /*        "posts posts";*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.6fr 1fr 2fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    grid-area: 1 / 1 / 4 / 3;
}

.profile_content_text {
    margin-top: 5%;
    font-size: 14px;
    font-size-adjust: 1;

    margin-left: 5%;
}

.profile_content_input {

    border-radius: 20px;

    grid-area: 1 / 1 / 2 / 3;

}

.post_input {
    width: 80%;
    margin-left: 5%;
}

.profile_postbutton {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 10px;
    color: white;

}

.profile_postbutton:hover {

}

.start_text {
    margin-left: 7%;

}

.posts_ar {
    display: table;

}