.nav {
    grid-area: nav;
    background-color: darkgreen;

}
.item{
    font-size: 11px;
    font-size-adjust: 1;
    text-transform: capitalize;
    margin-top: 15px;
    margin-left: 5px;
    color: white;

}
.item.settings{
    margin-top: 60px;
    margin-left: 5px;
}
.item.active{
    font-size: 12px;
    font-size-adjust: 1;
    text-transform: uppercase;

}